.catalog {
    position: relative;
    padding-top: 0;
    padding-bottom: 80px;

    @media (max-width: $tablet-width-max) {
        padding-top: 16px;
        padding-bottom: 0;
    }

    @media (max-width: $mobile-width-max) {
        padding-top: 8px;
    }
}

.catalog__wrapper {
    position: relative;

    &::before {
        position: absolute;
        z-index: -1;
        top: 15px;
        left: -118px;
        display: block;
        width: 1445px;
        height: 1089px;

        content: "";
        background-image: url("../img/catalog-bg.svg");
        background-repeat: no-repeat;
    }

    @media (max-width: $tablet-width-max) {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        &::before {
            display: none;

            content: "";
            background: none;
        }
    }
}

.catalog__item {
    display: none;

    &--active {
        display: flex;
    }

    @media (max-width: $tablet-width-max) {
        flex-direction: column;
    }
}

.catalog__content {
    font-size: 16px;
    line-height: 28px;
    flex-shrink: 0;

    max-width: 370px;
    margin-right: 100px;
    color: $color-6;

    @media (max-width: $tablet-width-max) {
        max-width: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    @media (max-width: $mobile-width-max) {
        margin-bottom: 40px;
    }
}

.catalog__title {
    font-size: 55px;
    font-weight: 600;
    line-height: 90px;

    margin-top: 22px;
    margin-bottom: 50px;
    padding-top: 15px;
    letter-spacing: -1.2px;

    &::after {
        position: absolute;
        top: 143px;
        left: 10px;
        width: 175px;
        height: 4px;
        content: "";
        background-color: $color-hover;

        @media (max-width: $tablet-width-max) {
            display: none;
        }
    }

    @media (max-width: $tablet-width-max) {
        font-size: 30px;
        line-height: 45px;

        margin-top: -35px;
        margin-bottom: 20px;
        letter-spacing: 0;
    }

    @media (max-width: $mobile-width-max) {
        font-size: 24px;
        line-height: 36px;

        margin-top: -34px;
    }
}

.catalog__text {
    margin: 0;
    margin-bottom: 50px;
    letter-spacing: -.45px;

    @media (max-width: $tablet-width-max) {
        margin-bottom: 20px;
        padding: 0 20px;
        text-align: center;
    }
}

.catalog__link {
    display: block;
    width: 250px;
    margin-bottom: 15px;
    padding: 30px;
    text-align: center;

    @media (max-width: $tablet-width-max) {
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 18px;
    }

    @media (max-width: $mobile-width-max) {
        width: 288px;
    }
}

.catalog__inner {
    flex-shrink: 0;

    width: 430px;
    margin: auto 0;
    margin-top: 30px;

    @media (max-width: $tablet-width-max) {
        width: calc(100% + 40px);
        margin: 0 auto;
        margin-left: -20px;
    }

    @media (max-width: $mobile-width-max) {
        width: calc(100% + 32px);
        margin: 0 auto;
        margin-left: -16px;
    }
}

.catalog__img {
    width: 100%;
    height: 596px;
    object-fit: cover;

    @media (max-width: $tablet-width-max) {
        height: 415px;
    }
}
