.page-header__wrapper {
    display: flex;
    height: 100px;

    @media (max-width: $tablet-width-max) {
        height: 50px;
    }

    &--nojs {
        @media (max-width: $tablet-width-max) {
            margin-bottom: 250px;
        }
    }
}

.page-header__logo {
    align-self: center;

    width: 58px;
    height: 22px;
    margin-right: auto;

    @media (max-width: $tablet-width-max) {
        width: 44px;
        height: 17px;
        margin-left: 20px;
    }
}

.page-header__logo svg {
    @media (max-width: $tablet-width-max) {
        width: 44px;
        height: 17px;
    }
}

.page-header__toggle {
    display: none;
    cursor: pointer;

    @media (max-width: $tablet-width-max) {
        display: block;
        align-self: flex-start;
        width: 70px;
        height: 50px;
        padding: 0;
        border: none;
        background: $color-hover url("../img/menu.svg") no-repeat center;
    }

    @media (max-width: $mobile-width-max) {
        width: 50px;
        height: 50px;
    }
}

.page-header__toggle--closed {
    z-index: 1;

    width: 50px;
    height: 50px;
    background: transparent url("../img/close.svg") no-repeat center;
}

.page-header__phone {
    @media (max-width: $tablet-width-max) {
        display: none;
    }
}
