.tabs {
    overflow-x: auto;
}

.tabs__wrapper {
    overflow-x: auto;
}

.tabs__inner {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    width: 900px;
    margin-bottom: 35px;
    padding-top: 60px;
    border-bottom: 1px solid rgba(44, 46, 63, 0.3);

    @media (max-width: $tablet-width-max) {
        width: 905px;
        margin-bottom: 33px;
        margin-left: 21px;
        padding-top: 0;
    }

    @media (max-width: $mobile-width-max) {
        margin-top: -10px;
        margin-bottom: 33px;
    }
}

.tabs__item {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    display: block;
    padding: 15px 0;
    letter-spacing: -.41px;
    color: rgba(44, 46, 63, 0.3);

    @media (max-width: $tablet-width-max) {
        letter-spacing: 0;
    }

    @media (max-width: $mobile-width-max) {
        margin-left: -6px;
    }

    &:hover {
        color: $color-5;
    }

    &:active {
        color: rgba($color-5, 0.7);
    }

    &--active {
        color: $color-hover;
    }
}
