.button {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $bg-basic-1;
    background-color: $color-hover;

    &:hover {
        background-color: $color-5;
    }

    &:active {
        background-color: rgba($color-5, 0.7);
    }

    @media (max-width: $tablet-width-max) {
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
    }
}
