.corporate__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;

    margin-top: 0;
    margin-bottom: 21px;
    color: $color-2;

    @media (max-width: $tablet-width-max) {
        text-align: center;
    }
}

.corporate__text {
    font-size: 14px;
    line-height: 24px;
    color: rgba($color-2, 0.5);

    @media (max-width: $tablet-width-max) {
        text-align: center;
    }
}
